<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MongooseDashboard</title>
</head>

<body>
    <h1>Edit the
        <%=animal.name%>
    </h1>
    <form action="/update/<%=animal._id%>" method="post">
        Animal Name:
        <input type='text' value='<%=animal.name%>' name='name'> Animal Color:
        <input type='text' value='<%=animal.color%>' name='color'>
        <input type='submit' value='Update me!'>
    </form>

    <% if(typeof(errors) != 'undefined' ) { %>
        <% for (var x in errors) { %>
            <h3>
                <%= errors[x].message %>
            </h3>
            <% } %>
                <% } %>

                    <a href="/">Back to Dashboard</a>

</body>

</html>