<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Here's more about the <%=animal.name%></h1> <a href="/">Back to Dashboard</a>
        <p>Name: <%=animal.name%></p>
        <p>Color: <%=animal.color%></p>        
    <a href="/edit/<%=animal._id%>">Edit this animal</a>
    <a href="/delete/<%=animal._id%>">Delete this animal</a>
</body>
</html>